:root {
    --bgcolor:#EDF2EC;
    --orange-color:#E06733;
    --gray-color:#717171;
    --green-color:#499A18;

}

ul {
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.header {
    min-height: 134px;
    background-color: var(--bgcolor);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: end;
}

.logo {
    margin-right: 1px;
}

.navigation__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 42px 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.navigation__items {
    display: flex;
    list-style-type: none;
    min-width: 452px;
    justify-content: space-between;
}

.header__span {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--orange-color);
}

.welcome {
    min-height: 532px;
    background-color: var(--bgcolor);
}

.welcome__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0;
}

.welcome__img {
    width: 448px;
    height: 407px;
}

.welcome__rigt__text {
    min-width: 549px;
    height: 340px;
}

.welcome h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: var(--gray-color);
    margin-bottom: 42px;
}

.welcome__span {
    color: var(--green-color);
}

.welcome p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 48px;
}

.welcome__btn {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.welcome__btn:hover {
    background-color:#E06733;
    color: #fff;
}

.about {
    min-height: 666px;
}

.about__flex {
    padding: 94px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text__left {
    width: 605px;
    height: 350px;
}

.about h1 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: var(--green-color);
    margin-bottom: 40px;
}

.about__span {
    color: var(--orange-color);
}

.about p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.service {
    min-height: 1300px;
    background-color: #EDF2EC;
}

.services__flex {
    width: 1007px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 90px;
}

.service h1 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #499A18;
}

.flex__buttons {
    width: 559px;
    display: flex;
    justify-content: space-between;
}

.btns {
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #E06733;
    cursor: pointer;
    transition: 0.3s;
}

.btns:hover {
    background-color:#E06733;
    color: #fff;
}

.pictures__grid {
    display: grid;
    gap: 55px 117px;
    grid-template-columns: repeat(3, 1fr);
}

.inner__grid {
    width: 330px;
    height: 450px;
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}

.service h3 {
    margin: 10px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.service  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray-color);
}

.prices {
    padding-top: 40px;
    padding-bottom: 115px;
}

.price__flex {
    display: flex;
    justify-content: space-between;
}

.prpice__inner {
    width: 332px;
    height: 282px;
}

.price__item {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px;
}

.price__items {
    position: relative;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
}

.accordion__btn1 img{
    cursor: pointer;
}

.accordion__btn2 img {
    cursor: pointer;
}

.accordion__btn3 img {
    cursor: pointer;
}

.span__items {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px 40px;
    justify-content: space-between;
}

.price__flex h1 {
    margin-bottom: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000;
}

.price__inner__items {
    display: grid;
    gap: 32px;
    grid-template-rows: repeat(3, 1fr);
}

.price__inner__items h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000
}

.text__call__us h3{
    margin-bottom: 63px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    color: #000000;
}

.text__call__us button {
    margin-left: 327px;
    margin-bottom: 39px;
    width: 162px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    cursor: pointer;
    transition: 0.3s;
}

.call__us {
    color: var(--green-color);
}

.text__call__us button:hover {
    background-color:#E06733; 
    color: #fff;
}

.prices__picture {
    margin-left: 323px;
}

.contacts {
    background: #EDF2EC;
    padding-top: 53px;
}

.text-center {
    text-align: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #499A18;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.drop__down {
    margin-top: 74px;
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0px;
    padding: 5px 35px 5px 20px;
}

.contacts__rectangle {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contacts__h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #717171;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__info {
    display: flex;
    width: 180px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.footer__info p {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.social__list {
    width: 188px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.footer__wrapper h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}