:root {
    --bgcolor:#EDF2EC;
    --orange-color:#E06733;
    --gray-color:#717171;
    --green-color:#499A18;

}

ul {
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.header {
    min-height: 134px;
    background-color: var(--bgcolor);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: end;
}

.logo {
    margin-right: 1px;
}

.navigation__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 42px 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.navigation__items {
    display: flex;
    list-style-type: none;
    min-width: 452px;
    justify-content: space-between;
}

.header__span {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--orange-color);
}

.welcome {
    min-height: 532px;
    background-color: var(--bgcolor);
}

.welcome__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0;
}

.welcome__img {
    width: 448px;
    height: 407px;
}

.welcome__rigt__text {
    min-width: 549px;
    height: 340px;
}

.welcome h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: var(--gray-color);
    margin-bottom: 42px;
}

.welcome__span {
    color: var(--green-color);
}

.welcome p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 48px;
}

.welcome__btn {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.welcome__btn:hover {
    background-color:#E06733;
    color: #fff;
}

.about {
    min-height: 666px;
}

.about__flex {
    padding: 94px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text__left {
    width: 605px;
    height: 350px;
}

.about h1 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: var(--green-color);
    margin-bottom: 40px;
}

.about__span {
    color: var(--orange-color);
}

.about p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}